* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1C2C;

    font-family: Roboto, sans-serif;
    color: white;
}

button {
    padding: 13px 17px;

    font-size: 16px;
    font-weight: 600;
    color: white;

    background: #5a49b9;

    border-radius: 5px;

    cursor: pointer;

    border: none;
    outline: none;

    transition: background ease-in-out .1s;
}
button:hover {
    background: #4e40a4;
}

input {
    box-sizing: border-box;
    padding: 10px;

    font-size: 16px;
    color: #b1a9c6;

    border-radius: 5px;

    border: none;
    outline: none;
    width: 100%;

    background: #18151e;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 250px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
}

.disabled-btn {
    color: #9991ae;
    background: #595571;
}
.disabled-btn:hover {
    background: #454258;
}

.form-field {
    width: 100%;
}

.field-label {
    display: block;
    width: 100px;

    font-size: 18px;
    font-weight: 100;
    color: #7a748b;

    margin-bottom: 5px;

    text-transform: capitalize;
}

.error-label {
    display: block;
    color: #806f9a;

    margin-top: 5px;
    padding: 7px;

    font-size: 14px;

    background: #3a324f;

    border-radius: 7px;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

    width: 100%;
}

.form-footer p {
    color: #595571;
}

a {
    color: #5a49b9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 15px;

    background: linear-gradient(45deg, #604064, #413e6e);
}
.navbar::before {
    position: absolute;
    content: "";

    display: block;

    width: 100%;
    height: 47px;

    left: 0;
    top: 57px;
    z-index: -1;

    background: linear-gradient(45deg, #604064, #413e6e);
}
.avatar {
    width: 30px;
    height: 30px;

    border-radius: 50%;

    background: white;
}
.avatar-large {
    width: 70px;
    height: 70px;

    border-radius: 50%;

    background: white;
}

.bottom-panel {
    background-color: white;
}

.code-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;

    font-size: 16px;
}
.code {
    width: 100%;
    overflow: hidden;

    border-radius: 5px;
}
.code-resize {
    width: 10px;
    cursor: col-resize;
    opacity: 0;
}
.top-panel-resize {
    width: 100%;
    height: 20px;

    position: absolute;
    opacity: 0;
    cursor: row-resize;
}
.top-panel-resize:active {
    height: 1000px;
}
.codemirror {
    /*overflow: hidden;*/

    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    /*border: 1px solid #424b5b;*/
    /*border-top: none;*/
}
.code__language {
    padding: 10px;

    background: #aa8af824;

    text-transform: uppercase;
}

.profile-container {
    padding: 30px;
    /*margin: 0px 7px 7px 7px;*/

    border-radius: 25px;

    background: #29293c;

    border: 1px solid #393450;
}

.text-large {
    font-size: 22px;
    font-weight: 100;
    color: #eaeaea;
}
.text-bold {
    font-size: 22px;
    font-weight: 500;
}
.username {
    display: flex;
    flex-direction: column;

    gap: 7px;
}

.level {
    width: fit-content;
    font-size: 12px;
    font-weight: 100;

    color: #9b94b6;
    padding: 5px 10px;
    background: #403d60;

    border-radius: 7px;
}
.snippets-container {
    display: flex;
    gap: 15px;
}
.snippet {
    position: relative;
    overflow: hidden;

    width: 350px;
    height: 350px;

    margin: 15px 0px 30px 0px;

    background: #1E1C2C;

    border-radius: 7px;
}
.snippet > p {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 50px;

    padding: 10px;

    font-weight: 100;
    color: #eaeaea;

    background: #222633;
}
.user-info {
    display: flex;
    align-items: center;

    gap: 15px;

    margin-bottom: 50px;
}